/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins" , sans-serif;
}
body{
  background-image: url( "jj.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: rgb(255,255,255);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar img {
  width: 0px;
}
.sidebar.open img {
  width: 150px;
  height: 90px;
  transition: all 0.4s ease-out;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: black;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: rgb(11, 116, 228);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  color: white;
  opacity: 1;
  pointer-events: auto;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar li .active{
  color: white ;
  background: rgb(11, 116, 228);
}
.sidebar li a .links_name .active{
  color: white ;
  background: rgb(11, 116, 228);
}
.sidebar li a:hover{
  color: white ;
  background: rgb(11, 116, 228);
}
.sidebar li a .links_name{
  color: black;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  color: white;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: rgb(11, 116, 228);
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li.profile .name{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgb(11, 116, 228);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  min-height: 100vh;
  top: 0px;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sel_up{
  display: block;
}
.sel_center{
  display: block;
}
.form{
  display: block;
  position: relative;
  top: 135px;
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 25px 0px;
  background-color:white;
  box-shadow:inset 0 0 .1em rgb(2, 15, 2), 0 0 .5em rgb(3, 19, 3);   
}
select{
  height: 30PX;
  margin-top: 40px;
  width: 300px;
  text-align: center;
  text-decoration: solid;
  display: inline;
  box-shadow:inset 0 0 .5em rgb(153, 208, 247), 0 0 .6em rgb(52, 83, 105);
}
#date{
  height: 30PX;
  width: 80px;
  margin-top: 40px;
  width: 300px;
  text-align: center;
  text-decoration: solid;
  display: inline;
  box-shadow:inset 0 0 .5em rgb(153, 208, 247), 0 0 .6em rgb(52, 83, 105);
}
.btn_valider{
  height: 30PX;
  width: 80px;
  margin-top: 40px;
  border-radius: 20px;
  width:110px ;
  color: white;
  text-align: center;
  display: inline;
  background-color: rgb(11, 116, 228);
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
